<table>
	<tr>
		<td>
				<mat-icon style="font-size: 40px">pie_chart</mat-icon>
		</td>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<td *ngIf="currentUser.isSupervisor">
				<h6>Pie Chart View</h6>
		</td>
		<td *ngIf="!currentUser.isSupervisor">
				<h6>Pie Chart View - {{currentUser.firstName + ' ' + currentUser.lastName}}</h6>
	    </td>
	</tr>
</table>
<div>
	<table>
		<tr>
			<td *ngIf="currentUser.isSupervisor">
					<mat-form-field>
							<mat-select placeholder="Reportee">
							  <mat-option *ngFor="let reportee of reportees" (click)="populateRecordSet(reportee)" [value]="reportee">{{ reportee }}</mat-option>
							</mat-select>
					</mat-form-field>
			</td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<td>
					<mat-form-field>
							<mat-select placeholder="Record Set">
							  <mat-option *ngFor="let recordSet of recordSets" (click)="recordSetSelected(recordSet)" [value]="recordSet">{{ recordSet }}</mat-option>
							</mat-select>
					</mat-form-field>
			</td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<td>
				<button mat-raised-button color="primary" (click)="populateChart()">Populate Chart</button>
			</td>
		</tr>
	</table>
<br>
<div>
<div *ngIf="displayChart" style="display: block">
	<canvas baseChart id="pieChart"
			[data]="pieChartData"
			[labels]="pieChartLabels"
			[chartType]="pieChartType"></canvas>
    <br>
	<button mat-raised-button color="primary" (click)="exportAsPDF()">Export PDF</button>
  </div>
</div>
<br>