.app-loading {
    .logo {
      width: 200px;
      height: 200px;
      
      // this way asset gets processed by webpack 
      background: url(/assets/images/profile-icon.ico) center center no-repeat; 
    }
  }