<br>
<h6>Add Profile Glimpse for <strong>{{username}}</strong></h6>
<form [formGroup]="addGlimpseForm" autocomplete="off" novalidate
	fxLayout="column wrap"
	fxLayoutAlign="center center" fxLayoutGap="10px">

	<mat-card> <mat-card-content>
	<br>
	<form>
		<table class="table mat-table table-striped table-bordered">
			<tbody>
			<tr *ngFor="let field of glimpseFields; let i = index;">
				<td>
					<div [formGroup]="addGlimpseForm">
						<mat-form-field> <input matInput
							[placeholder]="field" [(ngModel)]="glimpseValues[i]"
							[formControlName]="field" [name]="glimpseValues[i]" [id]="glimpseValues[i]">
						<mat-error *ngIf="hasError(field, 'required')"> {{field}} is required</mat-error>
					</mat-form-field>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</form>
	</mat-card-content> <mat-card-actions>
	<button mat-raised-button color="primary" (click)="addGlimpse()" [disabled]="!addGlimpseForm.valid">Submit</button>
		<button mat-raised-button color="accent" [routerLink]="['/defineGlimpse', username]" >Back</button>
	</mat-card-actions> </mat-card>
	<br>
</form>
<br>

<!--

	<mat-card> <mat-card-content>
	<br>
	<form>
		<table>
			<tr *ngFor="let glimpseField of glimpseFields; let i = index">
				<td>
					<div [formGroup]="addGlimpseForm">
						<mat-form-field> <input matInput
							placeholder="{{glimpseField}}" [(ngModel)]="glimpseValues[i]"
							formControlName="{{glimpseField}}" name="glimpseField" id="glimpseField">
						<mat-error *ngIf="hasError(glimpseField, 'required')"> {{glimpseField}} is required</mat-error>
					</mat-form-field>
					</div>
				</td>
			</tr>
		</table>
	</form>
	</mat-card-content> <mat-card-actions>
	<button mat-raised-button color="primary" [disabled]="!addGlimpseForm.valid">Submit</button>
		<button mat-raised-button color="accent" [routerLink]="['/defineGlimpse', username]" >Back</button>
	</mat-card-actions> </mat-card>

-->

<!--
<table>
		<thead>
			<tr>
				<th style="width: 10%">Action</th>
				<th>Field</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let record of formFields; let i = index;">
				<td>
					<button mat-icon-button color="primary" (click)="addRow()">
						<mat-icon aria-label="Add">add</mat-icon>
					</button>
					<button mat-icon-button color="warn" (click)="deleteRow(i)">
						<mat-icon aria-label="Delete">delete</mat-icon>
					</button>
				</td>
				<td>
					<div>
						<mat-form-field> <input matInput
							[placeholder]="record.key" [(ngModel)]="record.value"
							[name]="record.key" [id]="record.value" /> </mat-form-field>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

-->