<table>
	<tr>
		<td>
			<form [formGroup]="editUserForm" autocomplete="off" novalidate
				fxLayout="column wrap" fxLayoutAlign="center center"
				fxLayoutGap="10px">

				<mat-card> <mat-card-content>
				<form>
					<table>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <input matInput
										placeholder="First Name" [(ngModel)]="user.firstName"
										formControlName="firstName" name="firstName" id="firstName">
									<mat-error *ngIf="hasUserError('firstName',
						'required')">
									First Name is required</mat-error></mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <input matInput
										placeholder="Last Name" [(ngModel)]="user.lastName"
										formControlName="lastName" name="lastName" id="lastName">
									<mat-error *ngIf="hasUserError('lastName',
						'required')">
									Last Name is required</mat-error></mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <input matInput
										[matDatepicker]="picker" placeholder="Date Of Birth"
										formControlName="dob" [(ngModel)]="user.dob" id="dob" readonly
										(click)="picker.open()"> <mat-datepicker-toggle
										matSuffix [for]="picker"></mat-datepicker-toggle> <mat-datepicker
										#picker></mat-datepicker> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <input matInput
										placeholder="User Name" [(ngModel)]="user.username"
										formControlName="username" name="username" id="username">
									<mat-error *ngIf="hasUserError('username',
						'required')">
									User Name is required</mat-error></mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <input matInput
										placeholder="Email" [(ngModel)]="user.email"
										formControlName="email" name="email" id="email"> <mat-error
										*ngIf="hasUserError('email', 'required')"> Email is
									required</mat-error> <mat-error *ngIf="hasUserError('email', 'email')">Invalid
									Email</mat-error></mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-form-field> <mat-label>Country</mat-label>
									<mat-select placeholder="Country" formControlName="country"
										name="country" id="country" [(ngModel)]="user.country">
									<mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
									</mat-select> <mat-error *ngIf="hasUserError('country', 'required')">Country
									is required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="editUserForm">
									<mat-checkbox placeholder="Admin" formControlName="isAdmin"
										id="isAdmin" name="isAdmin" [(ngModel)]="user.isAdmin">Admin</mat-checkbox>
								</div>
							</td>
						</tr>
					</table>
				</form>
				</mat-card-content> </mat-card>
			</form>
		</td>

		<td>
			<form [formGroup]="careerForm" autocomplete="off" novalidate
				fxLayout="column wrap" fxLayoutAlign="center center"
				fxLayoutGap="10px">

				<mat-card> <mat-card-content>
				<form>
					<table>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Matches" [(ngModel)]="userCareer.matches"
										formControlName="matches" name="matches" id="matches">
									<mat-error *ngIf="hasCareerError('matches', 'required')">Matches
									required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Runs" [(ngModel)]="userCareer.runs"
										formControlName="runs" type="runs" name="runs" id="runs">
									<mat-error *ngIf="hasCareerError('runs', 'required')">Runs
									required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Batting Average"
										[(ngModel)]="userCareer.battingAvg"
										formControlName="battingAvg" type="battingAvg"
										name="battingAvg" id="battingAvg"> <mat-error
										*ngIf="hasCareerError('battingAvg', 'required')">Batting
									Average required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="High Score"
										[(ngModel)]="userCareer.highScore"
										formControlName="highScore" type="highScore" name="highScore"
										id="highScore"> <mat-error
										*ngIf="hasCareerError('highScore', 'required')">High
									Score required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Wickets" [(ngModel)]="userCareer.wickets"
										formControlName="wickets" type="wickets" name="wickets"
										id="wickets"> <mat-error
										*ngIf="hasCareerError('wickets', 'required')">Wickets
									required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Bowling Average"
										[(ngModel)]="userCareer.bowlingAvg"
										formControlName="bowlingAvg" type="bowlingAvg"
										name="bowlingAvg" id="bowlingAvg"> <mat-error
										*ngIf="hasCareerError('bowlingAvg', 'required')">Bowling
									Average required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="text"
										placeholder="Best Bowling"
										[(ngModel)]="userCareer.bestBowling"
										formControlName="bestBowling" type="bestBowling"
										name="highScore" id="bestBowling"> <mat-error
										*ngIf="hasCareerError('bestBowling', 'required')">Best
									Bowling required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div [formGroup]="careerForm">
									<mat-form-field> <input matInput type="number"
										placeholder="Catches" [(ngModel)]="userCareer.catches"
										formControlName="catches" type="catches" name="catches"
										id="catches"> <mat-error
										*ngIf="hasCareerError('catches', 'required')">Catches
									required</mat-error> </mat-form-field>
								</div>
							</td>
						</tr>

					</table>
				</form>
				</mat-card-content> </mat-card>
			</form>
		</td>
	</tr>
	<tr>
		<td><mat-card-actions>
			<button mat-raised-button color="primary" (click)="updateUser(user, userCareer)"
				[disabled]="!editUserForm.valid && !careerForm.valid">Update</button>
				<button mat-raised-button color="accent" (click)="navidateToCard(user.username)">Back</button>	
			</mat-card-actions></td>
	</tr>
</table>