<div *ngIf="showUserDropdown">
	<mat-form-field>
			<mat-select placeholder="User">
			<mat-option *ngFor="let usr of usersDropdown" (click)="userSelected(usr)" [(ngModel)]="usr" ngDefaultControl name="usr" [value]="usr">{{ usr.username }}</mat-option>
			</mat-select>
	</mat-form-field>
</div>
<br>
<table class="table">
 	<tbody>
		 <tr *ngFor="let user of users" >
				<td><div class="card" style="width:250px;height: 360px;">
						<img class="card-img-top" src="/assets/images/{{user.gender}}.jpg" onError="this.src='/assets/images/default.jpg';" alt="Card image">
						<div class="card-body">
						  <h4 class="card-title">{{user.firstName +" " +user.lastName}}</h4>
						  <div>
								 <button style="margin-right:16px" mat-raised-button color="primary" [matMenuTriggerFor]="menu1">Bio</button>
								 <mat-menu #menu1="matMenu" overlapTrigger="false">
										<button mat-menu-item (click)="displayProfile(user);">View</button>
										<button mat-menu-item (click)="hideProfile(user);">Hide</button>
										<button mat-menu-item [routerLink]="['/editUser', user.username]">Update</button>
								  </mat-menu>

								<button style='margin-right:16px' mat-raised-button color="primary" [matMenuTriggerFor]="menu2">Profile</button>
								<mat-menu #menu2="matMenu" overlapTrigger="false">
										<button mat-menu-item [routerLink]="['/addProfileFields', user.username]">Configure Fields</button>
										<button mat-menu-item (click)="openProfileDialog(user.username);">View Data</button>
										<button mat-menu-item [routerLink]="['/addProfileRecords', user.username]">Add Data</button>
								 </mat-menu>
						</div>
						</div>
				</div>
			</td>
			<td>
			<div class="example-container mat-elevation-z8" id="{{user.username+'1'}}">
			<div style="color: indigo"><strong>&nbsp;&nbsp;Personal Details</strong></div>
			<mat-table style="min-width: 950px; min-height: 150px" [dataSource]="[user]" matSort>
			
			<ng-container matColumnDef="firstName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="lastName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="gender">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="dob">
			<mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.dob | date:'MMM dd, yyyy'}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="userRole">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.userRole}} </mat-cell>
			  </ng-container>
			  
			  <ng-container matColumnDef="usertype">
					<mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.isSupervisor?'Supervisor':'User'}} </mat-cell>
			  </ng-container>
				
			<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
		  	<mat-row *matRowDef="let row; columns: displayedColumns1;">
		  	</mat-row>
		</mat-table>
		</div>
		<br/>
		<div class="example-container mat-elevation-z8" id="{{user.username+'2'}}">
		<div style="color: indigo"><strong>&nbsp;&nbsp;Contact Details</strong></div>
		<mat-table style="min-width: 950px; min-height: 150px" [dataSource]="[user]" matSort>

		  <ng-container matColumnDef="emailCard">
			<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.userContact.email}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="phoneNumber">
			<mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.userContact.phoneNumber}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="address">
				<mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.userContact.addressLine1 + ", " + row.userContact.addressLine2 + ", " +row.userContact.addressLine3}} </mat-cell>
		  </ng-container>
				
			<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
		  	<mat-row *matRowDef="let row; columns: displayedColumns2;">
		  	</mat-row>
		</mat-table>
		</div>
		</td>
	   </tr>
	</tbody>
</table>