<br>
<table class="table">
 	<tbody>
		 <tr *ngFor="let user of users" >
				<td><div class="card" style="width:250px;height: 360px;">
						<img class="card-img-top" src="/assets/images/{{user.username}}.jpg" onError="this.src='/assets/images/default.jpg';" alt="Card image">
						<div class="card-body">
						  <h4 class="card-title">{{user.firstName +" " +user.lastName}}</h4>
						  <div>
								 <button style='margin-right:16px' mat-raised-button color="primary" [matMenuTriggerFor]="menu1">Glimpse</button>
								 <mat-menu #menu1="matMenu" overlapTrigger="false">
										<button mat-menu-item (click)="displayProfile(user);">View</button>
										<button mat-menu-item (click)="hideProfile(user);">Hide</button>
										<button mat-menu-item [routerLink]="['/defineGlimpse', user.username]">Configure</button>										<button mat-menu-item [routerLink]="['/addUserCareer', user.username]">Add/Update</button>
										<button mat-menu-item [routerLink]="['/multiEditUser', user.username]">Multi Update</button>
								  </mat-menu>

								<button style='margin-right:16px' mat-raised-button color="primary" [matMenuTriggerFor]="menu2">Career</button>
								<mat-menu #menu2="matMenu" overlapTrigger="false">
										<button mat-menu-item (click)="openProfileDialog(user.username);">View</button>
										<button mat-menu-item [routerLink]="['/importUserCareer', user.username]">Import JSON</button>
								 </mat-menu>
						</div>
						</div>
				</div>
			</td>
			<td>
			<div class="example-container mat-elevation-z8" style="display: none" id="{{user.username+'1'}}">
				
			<mat-table style="min-width: 950px; min-height: 150px" [dataSource]="[user]" matSort>
			
			<ng-container matColumnDef="firstName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="lastName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="dob">
			<mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.dob | date:'MMM dd, yyyy'}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="country">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
			  </ng-container>
			  
			  <ng-container matColumnDef="usertype">
					<mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.isAdmin?'Admin':'User'}} </mat-cell>
			  </ng-container>
				
			<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
		  	<mat-row *matRowDef="let row; columns: displayedColumns1;">
		  	</mat-row>
		</mat-table>
		</div>
		<br/>
		<div class="example-container mat-elevation-z8" style="display: none" id="{{user.username+'2'}}">
		<mat-table style="min-width: 950px; min-height: 150px" [dataSource]="[user]" matSort>
			
			<ng-container matColumnDef="matches">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Matches </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.userCareer?user.userCareer.matches:'---'}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="runs">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Runs </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.runs:'---'}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="battingAvg">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Batting Avg </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.battingAvg:'---'}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="highScore">
				<mat-header-cell *matHeaderCellDef mat-sort-header> High Score	 </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.highScore:'---'}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="wickets">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Wickets </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.wickets:'---'}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="bowlingAvg">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Bowling Avg </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.bowlingAvg:'---'}} </mat-cell>
			  </ng-container>
			  
			  <ng-container matColumnDef="bestBowl">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Best Bowl </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.bestBowling:'---'}} </mat-cell>
			  </ng-container>
			  
			  <ng-container matColumnDef="catches">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Catches </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.userCareer?row.userCareer.catches:'---'}} </mat-cell>
			  </ng-container>
				
			<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
		  	<mat-row *matRowDef="let row; columns: displayedColumns2;">
		  	</mat-row>
		</mat-table>
		</div>
		</td>
	   </tr>
	</tbody>
</table>