<br/>
<div class="example-header">
		<mat-form-field>
		  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	  </div>
	  
	  <div class="example-container mat-elevation-z8">
		<mat-table *ngIf="iconsLoaded" [dataSource]="dataSource" matSort>
				
		<ng-container matColumnDef="imageIcon">
			<mat-header-cell *matHeaderCellDef>  </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-icon-button [routerLink]="['/userCard', row.username]">
					<mat-icon svgIcon="{{row.username}}"></mat-icon>
					<!--<img src="../assets/icons/{{row.username}}.svg" onError="this.src='../assets/icons/default.svg'">-->
				</button>
			</mat-cell>
		 </ng-container>
		  
		  <ng-container matColumnDef="firstName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="lastName">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="username">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
		  </ng-container>
	  
		  <ng-container matColumnDef="dob">
			<mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.dob | date:'MMM dd, yyyy'}} </mat-cell>
		  </ng-container>
		  
		  <ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
		  </ng-container>

		  <ng-container matColumnDef="country">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
				<mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
			  </ng-container>
			  
			  <ng-container matColumnDef="usertype">
					<mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.isAdmin?'Admin':'User'}} </mat-cell>
			  </ng-container>

			  <ng-container matColumnDef="action">
					<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
					<mat-cell *matCellDef="let row; let i=index;">
					<button mat-icon-button color="primary" [routerLink]="['/editUser', row.username]">
						<mat-icon aria-label="Edit">edit</mat-icon>
					</button>
					<button mat-icon-button color="warn" (click)="deleteUser(row)">
						<mat-icon aria-label="Delete">delete</mat-icon>
					</button>
					</mat-cell>
			  </ng-container>
	  
		  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		  <mat-row *matRowDef="let row; columns: displayedColumns;">
		  </mat-row>
		</mat-table>
	  
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	  </div>